.joinstr-infopane {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.title {
    -fx-padding:0, 10, 0, 10;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.sub-title {
    -fx-padding:0, 10, 0, 10;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.joinstr-list-menu {
    -fx-pref-width: 180;
    -fx-background-color: #3da0e3;
    -fx-padding: 0 0 0 0;
}

.list-item {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #3da0e3;
    -fx-border-width: 1px;
}

.list-item * {
    -fx-fill: #fff;
    -fx-font-size: 1.5em;
}
